.header, .type, .keyword
{
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.10);
    padding-left: 2pt;
    padding-right: 5pt;
    text-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.575);
    border-radius: 5pt;
}
a > .header, a > .type, a > .keyword
{
    all: unset;
}
.header
{
    color: coral;
}
.header:before
{
    content: "<"
}
.header:after
{
    content: ">"
}
.keyword
{
    color: palegreen;
}
.type
{
    color: cornflowerblue;
}
.code.hljs
{
    display: inline-block;
    padding: 0;
    position: relative;
    /* bottom: -0.3em; */
    vertical-align: text-bottom;
}
cppblock.hljs
{
    display: block;
    white-space: pre;
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    padding: 5px;
    overflow: auto;
    word-wrap: normal;
    text-align: left;
    /* vertical-align: baseline; */
    width: fit-content;
    max-height: 100%;
    height: 100%;
}
.reveal section section header
{
    display: unset;
    font-size: 50%;
    margin: 0px;
    padding: 0px;
    width: 120%;
}
.reveal section section summary
{
    display: inline-block;
    width: 30%;
    position: relative;
    border: floralwhite solid 2pt;
    text-transform: lowercase;
    font-size: 90%;
}
.reveal section section header summary:before
{
    text-transform: uppercase;
    display: block;
    content: attr(data-category);
}
.reveal section article
{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 70%;
    /* white-space: pre; */
}
.reveal section article p
{
    margin: 10px 0;
}
.reveal section article p + p
{
    margin-top: 0;
}
.reveal section section h2
{
    all: unset;
    display: block;
    font-size: 1.10em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.reveal section section nav
{
    font-size: 50%;
    display: block;
}

.reveal section section nav a
{
   line-height: 115%;
   margin:  5pt 15pt 5pt 15pt;
   background-color: rgba(143, 225, 228, 0.05);
   border-radius: 5pt;
   display: inline-block;
}