/* .reveal .header, .reveal .type, .reveal .keyword, .reveal .attribute */
.emphasis:not(.code)
{
    font-style: italic;
    padding-left: 0.1em;
    padding-right: 0.3em;
    text-shadow: 0 0 0.05em rgba(0, 0, 0, 0.575);
    position:relative;
    background-color: gray;
    border-radius: 5pt;
    box-shadow:
        0 0 3px 1px,
        inset 2px 2px 2px white,
        inset -2px -2px 2px black;
}

.emphasis.header
{
    color: coral;
    background-color: rgba(255, 127, 80, 0.25);
}
.header::before
{
    content: "<";
}
.header::after
{
    content: ">";
}
.emphasis.keyword
{
    color: rgb(25, 145, 25);
    background-color: rgb(25, 145, 25, 0.25);
}
.emphasis.type
{
    color: blueviolet;
    background-color: rgb(138, 43, 226, 0.25);
}
.emphasis.attribute
{
    color: chocolate;
    background-color: rgba(210, 105, 30, 0.25);
}
.attribute::before
{
    content: "[[";
}
.attribute::after
{
    content: "]]";
}

.reveal a > .header, .reveal a > .type, .reveal a > .keyword, .reveal a > .attribute
{
    all: unset;
}
.reveal .emphasis.code.hljs
{
    /* all: unset; */
    display: inline-block;
    padding: 0;
    position: relative;
    vertical-align: text-bottom;
}

cppblock.hljs
{
    display: block;
    white-space: pre;
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    padding: 5px;
    overflow: auto;
    word-wrap: normal;
    text-align: left;
    width: fit-content;
    max-height: 100%;
    /* height: 100%; */
}

/* RIBBON */

div.ribbon
{
    background-color: rgba(96, 96, 96, 0.5);
    width: 500px;
    display: inline-block;
    transform: translate(-50%, -50%) rotate(-45deg);
    font-size: 50%;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 60px;
    text-shadow: 0 0 3px black;
    border: 1px solid black;
}

div.ribbon.topright
{
    transform: translate(50%, -50%) rotate(45deg);
    top: 60px;
    right: 60px;
    left: unset; /* ignoring default left position */
}
div.ribbon.topright30, div.ribbon.recommended, div.ribbon.whenneeded, div.ribbon.mandatory, div.ribbon.forbidden, div.ribbon.idontknow, div.ribbon.abandonned, div.ribbon.ifnochoice
{
    transform: translate(50%, -50%) rotate(30deg);
    top: 60px;
    right: 97px;
    left: unset; /* ignoring default left position */
}
div.ribbon.cpp11 /* top left 30° */
{
    transform: translate(-50%, -50%) rotate(-30deg);
    top: 40px;
    left: 55px;
}
div.ribbon.recommended
{
    background-color: rgba(0, 128, 0, 0.75);
    color: yellow;
}
div.ribbon.recommended::after
{
    content: "RECOMMENDED";
}
div.ribbon.mandatory
{
    background-color: rgba(29, 197, 99, 0.75);
    color: yellow;
    font-size: 90%;
}
@keyframes blink
{
    0%  { opacity: 0.0; }
    100% { opacity: 1.0;}
}
div.ribbon.mandatory::after
{
    content: "MANDATORY";
    animation: blink 0.4s infinite alternate-reverse ease;
}
div.ribbon.whenneeded
{
    background-color: rgba(173, 179, 17, 0.75);
    color: white;
}
div.ribbon.whenneeded::after
{
    content: "USE WHEN NEEDED";
}
div.ribbon.abandonned
{
    background-color: rgba(255, 0, 0, 0.75);
    color: rgb(255, 255, 255);
}
div.ribbon.abandonned::after
{
    content: "ABANDONNED";
}
div.ribbon.idontknow
{
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(255, 0, 0);
}
div.ribbon.idontknow::after
{
    content: "? ? ?";
}
div.ribbon.ifnochoice
{
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(255, 0, 0);
}
div.ribbon.ifnochoice::after
{
    content: "ONLY IF NO CHOICE";
}


/* TO BE CONSIDERED */

div.ribbon.cpp11
{
    background-color: rgba(214, 27, 199, 0.75);
    color: white;
}
div.ribbon.cpp11::after
{
    content: "C++11";
}

.reveal section
{
    height: 720px;
}

.reveal section section
{
    overflow: hidden;
    /* -direction: column; */
    border-collapse: collapse;
    background-color: rgb(210, 239, 248);
}

/* .reveal section section header
{
    display: unset;
    font-size: 50%;
    margin: 0px;
    padding: 0px;
    width: 120%;
} */
.reveal section section *
{
    box-sizing: border-box;
}

.reveal section section h2
{
    all: unset;
    display: block;

    font-size: 1.10em;
    font-weight: bold;
    background-color: rgb(124, 189, 255);
    border-bottom: 5px solid rgb(24, 132, 168);
    margin-top: -0.5em;
    padding: 0.5em 0;
    height: 100px;
    box-sizing: border-box; /* because of the unset: all */
}
.reveal section article
{
    display: grid;
    font-size: 80%;
    height: 620px;
    padding: 0.5em;
    align-items: center;
    grid-gap: 0.5em;
    font-size: 110%;
    width: calc(1280px - 1em);
}
.reveal section section summary
{
    display: inline-block;
    width: 30%;
    position: relative;
    border: floralwhite solid 2pt;
    text-transform: lowercase;
    font-size: 90%;
}
.reveal section section header summary:before
{
    text-transform: uppercase;
    display: block;
    content: attr(data-category);
}
.reveal section article > p, .reveal section article > div
{
    --width: 100%;
    width:var(--width);
    margin: 0 calc((100% - var(--width))/2);
}
.reveal section article > p cppblock, .reveal section article > div cppblock
{
    font-size: 50%;
}
.reveal section section nav[data-auto]
{
    font-size: 50%;
    display: block;
    column-count: 3;
    column-gap: 0.2em;
    column-fill: auto;
    text-align: left;
    max-height: 550px;
}
.reveal section section nav span.category
{
    /* display: inline-block; */
    break-inside: avoid-column;
    /* display: table; */
    float: left;
    width: 100%;
}
.reveal section section nav span.category a
{
   line-height: 115%;
   margin: 0.2em 0;
   text-indent: -0.8em;
   padding-left: 0.8em;
   background-color: rgba(143, 225, 228, 0.03);
   border-radius: 5pt;
   display: block;
   break-inside: avoid-column;
}
.reveal section section nav span.category a:before
{
    content:"♦ ";
}