.reveal section
{
    height: 720px;
    background-color: rgb(210, 239, 248);
    background-image: linear-gradient(to right, rgb(194, 241, 255), rgb(56, 207, 253));
    font-family: Arial, Helvetica, sans-serif;
}

.reveal section section
{
    overflow: hidden;
    /* -direction: column; */
    border-collapse: collapse;
}

.reveal section section *
{
    box-sizing: border-box;
}

/* Tile of sub parts */
.reveal section section h1
{
    background-image: linear-gradient(to right, rgb(82, 175, 252), rgb(42, 154, 206));
    margin-left: -10px;
    width: 30%;
    text-align: right;
    padding-right: 0.5em;
    box-shadow: 5px 5px 20px 0 #00000080;
    color: white;
    text-shadow: 0 0 5px black;
}

/* Title of normal slides */
.reveal section section h2
{
    all: unset;
    display: block;

    font-size: 1.0em;
    font-weight: bold;
    background-color: rgba(0, 0, 255,0.1);
    margin-top: -0.5em;
    padding: 0.5em 0;
    height: 100px;
    box-sizing: border-box; /* because of the unset: all */
    margin-left: 5%;
    width: 90%;
    background-image: linear-gradient(to right, rgb(82, 175, 252), rgb(42, 154, 206));
    border-bottom: 2px solid rgb(42, 154, 206);
    box-shadow: 5px 5px 20px 0px #00000080;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.reveal section article
{
    display: grid;
    font-size: 80%;
    height: 620px;
    padding: 0.5em;
    align-items: center;
    grid-gap: 0.5em;
    font-size: 110%;
    width: calc(1280px - 1em);
}
.reveal section section summary
{
    display: inline-block;
    width: 30%;
    position: relative;
    border: floralwhite solid 2pt;
    text-transform: lowercase;
    font-size: 90%;
}
.reveal section section header summary:before
{
    text-transform: uppercase;
    display: block;
    content: attr(data-category);
}
.reveal section article > p, .reveal section article > div
{
    --width: 100%;
    width:var(--width);
    margin: 0 calc((100% - var(--width))/2);
}
.reveal section article > p cppblock, .reveal section article > div cppblock
{
    font-size: 50%;
}


/* ###### ###### ###### ##     ######
     ##     ##     ##   ##     ##
     ##     ##     ##   ##     ####
     ##     ##     ##   ##     ##
     ##   ######   ##   ###### ###### */

.reveal section div.title
{
    position: absolute;
    display: block;
    top: 30%;
    width: 75%;
    left: -5%;
    background-color: rgb(22, 173, 219);
    background-image: linear-gradient(to right, rgb(144, 229, 255), rgb(22, 173, 219));
    box-shadow: 5px 5px 20px 0px #00000080;
    padding: 20px 0 20px 10%;
}

.reveal section div.title::before
{
    position: absolute;
    display: block;
    top: 0%;
    width: 100%;
    left: 102%;
    height: 100%;
    background-color: rgb(12, 141, 180);
    content: " ";
    box-shadow: 5px 5px 20px 0px #00000080;
}

.reveal section div.title h2
{
    color: white;
    text-shadow: 0 0 5px black;
}

/* ###### ##  ## #####  ##  ##  ####   ##### ######  #####
   ##     ###### ##  ## ##  ## ##  ## ##       ##   ##
   ####   ##  ## #####  ###### ######  ####    ##    ####
   ##     ##  ## ##     ##  ## ##  ##     ##   ##       ##
   ###### ##  ## ##     ##  ## ##  ## #####  ###### #####  */

/* .reveal .header, .reveal .type, .reveal .keyword, .reveal .attribute */
.emphasis:not(.code)
{
    font-style: italic;
    padding-left: 0.1em;
    padding-right: 0.3em;
    position:relative;
}

.emphasis.header
{
    color: coral;
    text-shadow: 0 0 0.3em rgba(221, 174, 157, 0.99);
    /* background-color: rgba(255, 127, 80, 0.25); */
}
.header::before
{
    content: "<";
}
.header::after
{
    content: ">";
}

.emphasis.keyword
{
    color: rgb(25, 145, 25);
    text-shadow: 0 0 0.3em rgba(149, 214, 149, 0.99);
}

.emphasis.type
{
    color: blueviolet;
    text-shadow: 0 0 0.3em rgba(175, 137, 211, 0.99);
}
.emphasis.attribute
{
    color: chocolate;
    text-shadow: 0 0 0.3em rgba(207, 160, 126, 0.99);
}
.attribute::before
{
    content: "[[";
}
.attribute::after
{
    content: "]]";
}

.reveal a > .header, .reveal a > .type, .reveal a > .keyword, .reveal a > .attribute
{
    all: unset;
}
.reveal .emphasis.code.hljs
{
    /* all: unset; */
    display: inline-block;
    padding: 0;
    position: relative;
    vertical-align: text-bottom;
}

cppblock.hljs
{
    display: block;
    white-space: pre;
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    padding: 5px;
    overflow: auto;
    word-wrap: normal;
    text-align: left;
    width: fit-content;
    max-height: 100%;
    /* height: 100%; */
}

/* #####  ###### #####  #####   ####  ##  ##
   ##  ##   ##   ##  ## ##  ## ##  ## ### ##
   #####    ##   #####  #####  ##  ## ######
   ##  ##   ##   ##  ## ##  ## ##  ## ## ###
   ##  ## ###### #####  #####   ####  ##  ## */

div.ribbon
{
    background-color: rgba(96, 96, 96, 0.5);
    display: inline-block;
    /* transform: translate(0%, -50%); */
    font-size: 50%;
    font-weight: bold;
    position: absolute;
    text-shadow: 0 0 3px black;
    padding: 0 0.75em;
    box-shadow: inset 1px 1px 5px 0px #00000080;
    /* text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 3px black, 0px 0px 4px black; */
    text-shadow: inset 0px 2px 3px black;
    background-clip: text;
    top: 0.5em;
}

div.ribbon.recommended, div.ribbon.whenneeded, div.ribbon.mandatory, div.ribbon.forbidden, div.ribbon.idontknow, div.ribbon.abandonned, div.ribbon.ifnochoice, div.ribbon.tobedefined
{
    right: 6%;
}
div.ribbon.cpp11, div.ribbon.cpp14, div.ribbon.cpp17
{
    left: 6%;
}
div.ribbon.recommended
{
    background-color: rgb(0, 128, 0);
    color: yellow;
}
div.ribbon.recommended::after
{
    content: "RECOMMENDED";
}
div.ribbon.mandatory
{
    background-color: rgb(29, 197, 99);
    color: yellow;
    font-size: 60%;
}
@keyframes blink
{
    0%  { opacity: 0.0; }
    100% { opacity: 1.0;}
}
div.ribbon.mandatory::after
{
    content: "MANDATORY";
    animation: blink 0.4s infinite alternate-reverse ease;
}
div.ribbon.whenneeded
{
    background-color: rgb(174, 179, 17);
    color: white;
}
div.ribbon.whenneeded::after
{
    content: "USE WHEN NEEDED";
}
div.ribbon.abandonned
{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
div.ribbon.abandonned::after
{
    content: "ABANDONNED";
}
div.ribbon.idontknow
{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}
div.ribbon.idontknow::after
{
    content: "? ? ?";
}
div.ribbon.tobedefined
{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}
div.ribbon.tobedefined::after
{
    content: "to be defined";
}
div.ribbon.ifnochoice
{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}
div.ribbon.ifnochoice::after
{
    content: "ONLY IF NO CHOICE";
}

/* TO BE CONSIDERED */

div.ribbon.cpp11
{
    background-color: rgb(41, 115, 226);
    color: white;
}
div.ribbon.cpp11::after
{
    content: "C++11";
}
div.ribbon.cpp14
{
    background-color: rgb(27, 30, 214);
    color: white;
}
div.ribbon.cpp14::after
{
    content: "C++14";
}
div.ribbon.cpp17
{
    background-color: rgb(27, 30, 214);
    color: white;
}
div.ribbon.cpp17::after
{
    content: "C++17";
}

/* ######  ####   #####
     ##   ##  ## ##
     ##   ##  ## ##
     ##   ##  ## ##
     ##    ####   ##### */

.reveal section section nav[data-auto]
{
    font-size: 50%;
    display: block;
    column-count: 3;
    column-gap: 0.2em;
    column-fill: auto;
    text-align: left;
    max-height: 550px;
}
.reveal section section nav span.category
{
    /* display: inline-block; */
    break-inside: avoid-column;
    /* display: table; */
    float: left;
    width: 100%;
}

/* title of the category */
.reveal section section nav span.category div
{
    background-color: #00000080;
    color: white;
    padding-left: 1em;
}

.reveal section section nav span.category a
{
    line-height: 115%;
    margin: 0.2em 0;
    text-indent: -0.8em;
    padding-left: 0.8em;
    /* background-color: rgba(143, 225, 228, 0.03); */
    border-radius: 5pt;
    display: block;
    break-inside: avoid-column;
    color: #0f065eC0;
}
.reveal section section nav span.category a:nth-child(even)
{
    background-image: linear-gradient(to bottom, #00000008, #00000008);
}
.reveal section section nav span.category a:before
{
    content:"~ ";
}